doctype html
html
  head
    title Library Manager
    link(rel='stylesheet', href='/stylesheets/style.css')
  header
    img#libraryHero(src="/images/library.jpg", alt="")
  body
    include partials/top-nav
          
    block content